/*--------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/gioithieu/bg-body.jpg") repeat-x scroll 0 40px #FBEFC9;
    color: #333333;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    line-height: 20px;
}
/*--------------------------------------------------------------------------------*/

a:link, a:visited {
    color: #0045FF;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

input.TextAccount {
    margin: 5px 8px 0 19px;
}

input.TextPass {
    margin: 5px 10px 0 0;
}

input.BtSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: block;
    float: left;
    height: 22px;
    margin-top: 5px;
    text-indent: -9999px;
    width: 64px;
}

h2 {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/*--------------------------------------------------------------------------------*/
ul#tabHeader {
    background: url("../images/gioithieu/tab_bg.gif") repeat-x scroll left bottom transparent;
    height: 27px;
    margin-bottom: 10px;
    overflow: hidden;
}

ul#tabHeader li {
    border: medium none !important;
    display: inline;
    font-weight: bolder;
    line-height: 20px;
    overflow: hidden;
    padding: 0;
}

ul#tabHeader li a:link, ul#tabHeader li a:visited {
    background: url("../images/gioithieu/tab-cor1-left.gif") no-repeat scroll left bottom transparent;
    cursor: pointer;
    float: left;
    height: 25px;
    margin: 0 1px;
    padding: 0 0 0 10px;
    text-decoration: none;
}

ul#tabHeader li.ui-tabs-selected a:link, ul#tabHeader li.ui-tabs-selected a:visited {
    background: url("../images/gioithieu/tab-cor1-left-over.gif") no-repeat scroll left bottom transparent;
    color: #6D4C40;
}

ul#tabHeader li a span {
    background: url("../images/gioithieu/tab-cor2-right.gif") no-repeat scroll right top transparent;
    color: #6D4C40;
    display: block;
    float: left;
    font-size: 12px;
    height: 23px;
    padding: 3px 10px 0 0;
}

ul#tabHeader li a:hover {
    background: url("../images/gioithieu/tab-cor1-left-over.gif") no-repeat scroll left top transparent;
}

ul#tabHeader li a:hover span {
    background: url("../images/gioithieu/tab-cor2-right-over.gif") no-repeat scroll right top transparent;
    color: #BC3461;
}

ul#tabHeader li.ui-tabs-selected a:link span, ul#tabHeader li.ui-tabs-selected a:visited span {
    background: url("../images/gioithieu/tab-cor2-right-over.gif") no-repeat scroll right top transparent;
    color: #BC3461;
    font-weight: bolder;
    padding: 14px 10px 0 0;
}

ul#tabHeader li.Active a:link, ul#tabHeader li.Active a:visited {
    background: url("../images/gioithieu/tab-cor1-left-over.gif") no-repeat scroll left top transparent;
    color: #BC3461;
}

ul#tabHeader li.Active a:link span, ul#tabHeader li.Active a:visited span, ul#tabHeader li.Active a:hover span {
    background: url("../images/gioithieu/tab-cor2-right-over.gif") no-repeat scroll right top transparent;
    color: #BC3461;
    font-weight: bolder;
}

ul#tabHeaderSmall {
    background: url("../images/gioithieu/tab_bg.gif") repeat-x scroll left bottom transparent;
    height: 27px;
    margin-bottom: 10px;
    overflow: hidden;
}

ul#tabHeaderSmall li {
    border: medium none !important;
    display: inline;
    font-weight: bolder;
    line-height: 20px;
    overflow: hidden;
    padding: 0;
}

ul#tabHeaderSmall li a:link, ul#tabHeaderSmall li a:visited {
    background: url("../images/gioithieu/tab-cor1-left.gif") no-repeat scroll left bottom transparent;
    cursor: pointer;
    float: left;
    height: 25px;
    margin: 0 1px;
    padding: 0 0 0 5px;
    text-decoration: none;
}

ul#tabHeaderSmall li.ui-tabs-selected a:link, ul#tabHeaderSmall li.ui-tabs-selected a:visited {
    background: url("../images/gioithieu/tab-cor1-left-over.gif") no-repeat scroll left bottom transparent;
    color: #6D4C40;
}

ul#tabHeaderSmall li a span {
    background: url("../images/gioithieu/tab-cor2-right.gif") no-repeat scroll right top transparent;
    color: #6D4C40;
    display: block;
    float: left;
    font-size: 10px;
    height: 23px;
    padding: 3px 5px 0 0;
}

ul#tabHeaderSmall li a:hover {
    background: url("../images/gioithieu/tab-cor1-left-over.gif") no-repeat scroll left top transparent;
}

ul#tabHeaderSmall li a:hover span {
    background: url("../images/gioithieu/tab-cor2-right-over.gif") no-repeat scroll right top transparent;
    color: #BC3461;
}

ul#tabHeaderSmall li.ui-tabs-selected a:link span, ul#tabHeaderSmall li.ui-tabs-selected a:visited span {
    background: url("../images/gioithieu/tab-cor2-right-over.gif") no-repeat scroll right top transparent;
    color: #BC3461;
    font-weight: bolder;
    padding: 14px 5px 0 0;
}

ul#tabHeaderSmall li.Active a:link, ul#tabHeaderSmall li.Active a:visited {
    background: url("../images/gioithieu/tab-cor1-left-over.gif") no-repeat scroll left top transparent;
    color: #BC3461;
}

ul#tabHeaderSmall li.Active a:link span, ul#tabHeaderSmall li.Active a:visited span, ul#tabHeaderSmall li.Active a:hover span {
    background: url("../images/gioithieu/tab-cor2-right-over.gif") no-repeat scroll right top transparent;
    color: #BC3461;
    font-weight: bolder;
}

ul.AnchorLink {
    margin: 0 auto 20px;
    overflow: hidden;
    width: 475px;
}

ul.AnchorLink li {
    background: url("../images/content/icon.gif") no-repeat scroll 0 4px transparent;
    float: left;
    font-weight: bolder;
    padding: 0 0 5px 15px;
    width: 220px;
}

ul.AnchorLink li a:link, ul.AnchorLink li a:visited {

    text-decoration: none;
}

ul.AnchorLink li a:hover {
    color: #707A05;
    text-decoration: none;
}

ul.AnchorLink li a.Active:link, ul.AnchorLink li a.Active:visited, ul.AnchorLink li a.Active:hover {
    color: #707A05;
}
/*--------------------------------------------------------------------------------*/

ul#sidenav {
    background: url("../images/gioithieu/menu-bottom.jpg") no-repeat scroll right bottom transparent;
    border-top: medium none;
    margin-left: 0;
    margin-top: 13px;
    overflow: hidden;
    padding-bottom: 131px;
    width: 202px;
}

ul#sidenav li.Off a:link, ul#sidenav li.Off a:visited, ul#sidenav li.Off a:hover {
    background: url("../images/sub_sidenav_bg.gif") no-repeat scroll left top transparent;
    color: #70583D;
    cursor: default;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 18px;
    width: 202px;
}

ul#sidenav li {
    float: left;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    width: 202px;
}

ul#sidenav li a, ul#sidenav li.HasChild a {
    background: url("../images/gioithieu/left-nav.jpg") no-repeat scroll 0 0 #F5ECD8;
    display: block;
    height: 49px;
    text-indent: -9999px;
    width: 202px;
}

ul#sidenav li a.gioithieu:link, ul#sidenav li a.gioithieu:visited, ul#sidenav li.HasChild a.gioithieu:link, ul#sidenav li.HasChild a.gioithieu:visited {
    background-position: 0 0;
}

ul#sidenav li a.gioithieu:hover, ul#sidenav li.HasChild a.gioithieu:hover {
    background-position: -205px 0;
    width: 202px;
}

ul#sidenav li.HasChild a.gioithieu.SlidePanelHandleActive:link, ul#sidenav li.HasChild.Active a.gioithieu:link, ul#sidenav li.HasChild.Active a.gioithieu:visited, ul#sidenav li.HasChild.Hilite a.gioithieu:link, ul#sidenav li.HasChild.Hilite a.gioithieu:visited, ul#sidenav li.HasChild a.gioithieu:hover {
    background-position: -205px 0;
    width: 202px;
}

ul#sidenav li a.huongdan:link, ul#sidenav li a.huongdan:visited, ul#sidenav li.HasChild a.huongdan:link, ul#sidenav li.HasChild a.huongdan:visited {
    background-position: 0 -50px;
}

ul#sidenav li a.huongdan:hover, ul#sidenav li.HasChild a.huongdan:hover {
    background-position: -205px -50px;
    width: 202px;
}

ul#sidenav li.HasChild.Active a.huongdan:link, ul#sidenav li.HasChild.Active a.huongdan:visited, ul#sidenav li.HasChild.Hilite a.huongdan:link, ul#sidenav li.HasChild.Hilite a.huongdan:visited, ul#sidenav li.HasChild a.huongdan:hover {
    background-position: -205px -50px;
    width: 202px;
}

ul#sidenav li a.nhiemvu:link, ul#sidenav li a.nhiemvu:visited, ul#sidenav li.HasChild a.nhiemvu:link, ul#sidenav li.HasChild a.nhiemvu:visited {
    background-position: 0 -150px;
}

ul#sidenav li a.nhiemvu:hover, ul#sidenav li.HasChild a.nhiemvu:hover {
    background-position: -205px -150px;
    width: 202px;
}

ul#sidenav li a.dactrung:link, ul#sidenav li a.dactrung:visited, ul#sidenav li.HasChild a.dactrung:link, ul#sidenav li.HasChild a.dactrung:visited {
    background-position: 0 -100px;
}

ul#sidenav li a.dactrung:hover, ul#sidenav li.HasChild a.dactrung:hover {
    background-position: -205px -100px;
    width: 202px;
}

ul#sidenav li a.tinhnang:link, ul#sidenav li a.tinhnang:visited, ul#sidenav li.HasChild a.tinhnang:link, ul#sidenav li.HasChild a.tinhnang:visited {
    background-position: 0 -200px;
}

ul#sidenav li.HasChild a.tinhnang.SlidePanelHandleActive:link, ul#sidenav li a.tinhnang:hover, ul#sidenav li.HasChild a.tinhnang:hover {
    background-position: -205px -200px;
    width: 202px;
}

ul#sidenav li a.chongluadao:link, ul#sidenav li a.chongluadao:visited, ul#sidenav li.HasChild a.chongluadao:link, ul#sidenav li.HasChild a.chongluadao:visited {
    background-position: 0 -250px;
}

ul#sidenav li.HasChild a.chongluadao.SlidePanelHandleActive:link, ul#sidenav li a.chongluadao:hover, ul#sidenav li.HasChild a.chongluadao:hover {
    background-position: -205px -250px;
    width: 202px;
}

ul#sidenav li.Active a:link, ul#sidenav li.Active a:visited, ul#sidenav li.Hilite a:link, ul#sidenav li.Hilite a:visited {
    background-position: 0 bottom;
    color: #B23600;
    display: block;
    text-decoration: none;
}

ul#sidenav li.HasChild a:hover {
    color: #B9B9B9;
}

ul#sidenav li.HasChild.Active a.tinhnang:link, ul#sidenav li.HasChild.Active a.tinhnang:visited, ul#sidenav li.HasChild.Hilite a.tinhnang:link, ul#sidenav li.HasChild.Hilite a.tinhnang:visited, ul#sidenav li.HasChild a.tinhnang:hover {
    background-position: -205px -200px;
    width: 202px;
}

ul#sidenav li.HasChild.Active a.chongluadao:link, ul#sidenav li.HasChild.Active a.chongluadao:visited, ul#sidenav li.HasChild.Hilite a.chongluadao:link, ul#sidenav li.HasChild.Hilite a.chongluadao:visited, ul#sidenav li.HasChild a.chongluadao:hover {
    background-position: -205px -250px;
    width: 202px;
}

ul#sidenav li.Active a.nhiemvu:link, ul#sidenav li.HasChild.Active a.nhiemvu:visited, ul#sidenav li.HasChild.Hilite a.nhiemvu:link, ul#sidenav li.HasChild.Hilite a.nhiemvu:visited, ul#sidenav li.HasChild a.nhiemvu:hover {
    background-position: -205px -150px;
    height: 49px;
    width: 202px;
}

ul#sidenav li.Hilite a.nhiemvu, ul#sidenav li.Hilite.Active a.nhiemvu {
    background-position: -205px -150px;
    height: 49px;
    width: 202px;
}

ul#sidenav li.Hilite a.nhiemvu, ul#sidenav li.Hilite.Active a.nhiemvu {
    background-position: -205px -150px;
    height: 49px;
    width: 202px;
}

ul#sidenav li.HasChild.Active a.huongdan:link, ul#sidenav li.HasChild.Active a.huongdan:visited, ul#sidenav li.HasChild.Hilite a.huongdan:link, ul#sidenav li.HasChild.Hilite a.huongdan:visited, ul#sidenav li.HasChild a.huongdan:hover {
    background-position: -205px -50px;
    width: 202px;
}

ul#sidenav li.HasChild a.dactrung.SlidePanelHandleActive:link, ul#sidenav li.HasChild.Active a.dactrung:link, ul#sidenav li.HasChild.Active a.dactrung:visited, ul#sidenav li.HasChild.Hilite a.dactrung:link, ul#sidenav li.HasChild.Hilite a.dactrung:visited, ul#sidenav li.HasChild a.dactrung:hover {
    background-position: -205px -100px;
    height: 49px;
    width: 202px;
}

ul#sidenav li ul {
    background: url("../images/gioithieu/left-sub.jpg") repeat-y scroll left center #F5ECD8;
    clear: both;
    display: none;
    margin-left: 3px;
    overflow: hidden;
    padding-bottom: 10px;
    width: 199px;
}

ul#sidenav li ul li {
    margin: 0;
}

ul#sidenav li ul li.last {
    border-bottom: medium none;
    line-height: 18px;
    width: 168px;
}

ul#sidenav li ul li a:link, ul#sidenav li ul li a:visited {
    background: url("../images/gioithieu/icon_nav.jpg") no-repeat scroll left bottom transparent;
    color: #333333;
    display: block;
    height: 19px;
    margin: 0 0 0 5px;
    padding: 8px 0 5px 15px;
    text-decoration: none;
    text-indent: 0;
    width: 153px;
}

ul#sidenav li ul li a:hover {
    color: #B23600;
    display: block;
}

ul#sidenav li.Active ul li a.Off:link, ul#sidenav li.Active ul li a.Off:visited, ul#sidenav li.Active ul li a.Off:hover {
    background: none repeat scroll 0 0 transparent;
    color: #232323;
    display: block;
    font-size: 12px;
    font-weight: normal;
    width: 150px;
}

ul#sidenav li.Active ul li a:link, ul#sidenav li.Active ul li a:visited {
    background: none repeat scroll 0 0 transparent;
    color: #232323;
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 0 6px 35px;
    width: 150px;
}

ul#sidenav li.Active ul li.HasChild a:link, ul#sidenav li.Active ul li.HasChild a:visited {
    background: none repeat scroll 0 0 transparent;
}

ul#sidenav li.Active ul li.Active a:link, ul#sidenav li.Active ul li.Active a:visited, ul#sidenav li.Active ul li.Hilite a:link, ul#sidenav li.Active ul li.Hilite a:visited, ul#sidenav li.Active ul li a:hover {
    background: none repeat scroll 0 0 transparent;
}

ul#sidenav li.HasChild.Active ul li a:link, ul#sidenav li.HasChild.Active ul li a:visited, ul#sidenav li.HasChild.Hilite ul li a:link, ul#sidenav li.HasChild.Hilite ul li a:visited {
    background: url("../images/gioithieu/icon_nav.jpg") no-repeat scroll left center transparent;
    display: block;
    padding: 6px 6px 5px 15px;
}

ul#sidenav li.HasChild ul li.Active a:link, ul#sidenav li.HasChild ul li.Active a:visited, ul#sidenav li.HasChild ul li a:hover, ul#sidenav li.HasChild.Active ul li a:hover {
    background: url("../images/gioithieu/icon_nav-over.jpg") no-repeat scroll left center transparent;
    color: #E91818;
    text-decoration: none;
}

ul#sidenav li.Active ul li.Active a.off:link, ul#sidenav li.Active ul li.Active a.off:visited, ul#sidenav li.Active ul li.Active a.off:hover {
    color: #5D4832;
}

.SlidePanelHide {
    display: none !important;
}

ul#sidemenu {
    border: 1px solid #000000;
    margin: 0 0 10px;
    overflow: hidden;
    padding-left: 12px;
    width: 176px;
}

ul#sidemenu li.Off a:link, ul#sidemenu li.Off a:visited, ul#sidemenu li.Off a:hover {
    color: #70583D;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 18px;
    padding: 8px 5px 7px;
    width: 170px;
}

ul#sidemenu li {
    border-bottom: 1px solid #000000;
    float: left;
    font-size: 12px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 165px;
}

ul#sidemenu li.last {
    border-bottom: medium none;
    float: left;
    font-size: 12px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 165px;
}

ul#sidemenu li a:link, ul#sidemenu li a:visited {
    background: url("../images/gioithieu/icon_nav.jpg") no-repeat scroll left center transparent;
    color: #000000;
    display: block;
    float: left;
    font-weight: bold;
    height: 17px;
    line-height: 18px;
    padding: 8px 5px 8px 18px;
    text-decoration: none;
}

ul#sidemenu li.Active a:link, ul#sidemenu li.Active a:visited, ul#sidemenu li.Hilite a:link, ul#sidemenu li.Hilite a:visited {
    background-position: 0 center;
    color: #E91818;
    display: block;
    text-decoration: none;
}

ul#sidemenu li a:hover {
    background-position: left center;
    color: #B9B9B9;
    display: block;
    text-decoration: none;
}

ul#sidemenu li.HasChild a:link, ul#sidemenu li.HasChild a:visited {
    background: url("../images/sub_sidenav_child01.gif") no-repeat scroll left top transparent;
}

ul#sidemenu li.HasChild.Active a:link, ul#sidemenu li.HasChild.Active a:visited, ul#sidemenu li.HasChild.Hilite a:link, ul#sidemenu li.HasChild.Hilite a:visited, ul#sidemenu li.HasChild a:hover {
    background: url("../images/sub_sidenav_child01.gif") no-repeat scroll left bottom transparent;
}

ul#sidemenu li ul {
    clear: both;
    display: none;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

ul#sidemenu li.Active ul {
    background: none repeat scroll 0 0 transparent;
}

ul#sidemenu li ul li {
    background: url("../images/sub_sidenav_child.gif") no-repeat scroll left top transparent;
    line-height: 18px;
    width: 100%;
}

ul#sidemenu li.Active ul li a.Off:link, ul#sidemenu li.Active ul li a.Off:visited, ul#sidemenu li.Active ul li a.Off:hover {
    background: none repeat scroll 0 0 transparent;
    color: #232323;
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 0 5px 35px;
    width: 145px;
}

ul#sidemenu li.Active ul li a:link, ul#sidemenu li.Active ul li a:visited {
    background: none repeat scroll 0 0 transparent;
    color: #232323;
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 0 6px 35px;
    width: 145px;
}

ul#sidemenu li.Active ul li.HasChild a:link, ul#sidemenu li.Active ul li.HasChild a:visited {
    background: none repeat scroll 0 0 transparent;
}

ul#sidemenu li.Active ul li.Active a:link, ul#sidemenu li.Active ul li.Active a:visited, ul#sidemenu li.Active ul li.Hilite a:link, ul#sidemenu li.Active ul li.Hilite a:visited, ul#sidemenu li.Active ul li a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #9B2F00;
}

ul#sidemenu li.HasChild.Active ul li a:link, ul#sidemenu li.HasChild.Active ul li a:visited, ul#sidemenu li.HasChild.Hilite ul li a:link, ul#sidemenu li.HasChild.Hilite ul li a:visited, ul#sidemenu li.HasChild ul li a:hover {
    background: url("../images/sub_sidenav_child.gif") no-repeat scroll left top transparent;
}

ul#sidemenu li.Active ul li.Active a.off:link, ul#sidemenu li.Active ul li.Active a.off:visited, ul#sidemenu li.Active ul li.Active a.off:hover {
    color: #5D4832;
}

/*--------------------------------------------------------------------------------*/

#wrapperOut {
    background: url("../images/gioithieu/bg-main.jpg") repeat-y scroll center top transparent;
    width: 100%;
}

#wrapper {
    background: url(../images/gioithieu/bg-wrapp-out-sub.jpg) no-repeat scroll center top transparent;
    width: 100%;
}

#main {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#header {
    display: block;
    height: 310px;
    width: 100%;
}

.HomePage a:link, .HomePage a:visited {
    background: url("../images/gioithieu/trangchugame.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 50px;
    margin-left: 725px;
    margin-top: 10px;
    width: 121px;
}
.HomePage a:hover {
    background: url("../images/gioithieu/trangchugame.gif") no-repeat scroll 0 -50px transparent;
    display: inline-block;
    height: 50px;
    margin-left: 725px;
    margin-top: 10px;
    width: 121px;
}

#content {
    background: url("../images/gioithieu/bg-bottom-content.jpg") no-repeat scroll center bottom transparent;
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

#sidebar {
    display: inline;
    float: left;
    margin: 38px 0 0 30px;
    width: 202px;
}

#leftBottom {
    background: url("../images/gioithieu/bg-left.jpg") repeat-y scroll right center transparent;
}

#mainContent {
    float: left;
    margin: 0;
    width: 618px;
}

#static {
    margin: 10px 0 0;
    min-height: 600px;
    overflow: hidden;
    width: 618px;
}

.StaticTopPanel {
    height: 50px;
    margin: 20px 20px 0 85px;
    overflow: hidden;
}

.StaticTopPanel h2.TitleMain {
    color: #B23600;
    float: left;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    text-transform: capitalize;
    width: 490px;
}

.StaticOuter {
    min-height: 600px;
    overflow: hidden;
}

.StaticOuter a:link, .StaticOuter a:visited {
    color: #0045FF;
    text-decoration: underline;
}

.StaticOuter a:hover {
    text-decoration: none;
}

.StaticInner {
    overflow: hidden;
}

.StaticInner h3 {
    color: #336600;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 12px 0 13px;
    text-align: center;
}

.StaticMain {
    margin: 20px 0 0 20px;
    overflow: hidden;
    padding: 0 2px 0 0;
    width: 580px;
}

.StaticMain h4 {
    background: url("../images/gioithieu/icon_h4.png") no-repeat scroll left 4px transparent;
    color: #B23600;
    font-family: Arial;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 5px;
    padding: 4px 0 2px 28px;
}

.StaticMain h5 {
    background: url("../images/gioithieu/icon_h5.png") no-repeat scroll left 0 transparent;
    color: #0066CC;
    font-family: Arial;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 5px 28px;
    padding: 0 0 0 22px;
}

.StaticMain h6 {
    background: url("../images/gioithieu/icon_h6.png") no-repeat scroll left 3px transparent;
    color: #545454;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 5px 52px;
    padding: 2px 0 2px 20px;
}

.ContentBlock {
    clear: both;
    margin-bottom: 20px;
}

.ContentBlock p {
    margin-bottom: 10px;
    text-align: justify;
}

.ContentBlock p.TextCenter {
    text-align: center;
}

#footer {
    background: url("../images/gioithieu/footer1.jpg") no-repeat scroll left bottom #FBEFC9;
    height: 104px;
    margin: 0 0 24px 100px;
    overflow: hidden;
    padding: 20px 0 0 186px;
    width: 624px;
}

#footer p {
    color: #8B7345;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 16px;
    margin-top: 30px;
    text-align: left;
    width: 400px;
}