<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Stand1_01.png</key>
            <dict>
                <key>height</key>
                <integer>129</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>129</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>98</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Stand1_02.png</key>
            <dict>
                <key>height</key>
                <integer>125</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>129</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>385</integer>
            </dict>
            <key>Stand1_03.png</key>
            <dict>
                <key>height</key>
                <integer>121</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>129</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>98</integer>
                <key>y</key>
                <integer>133</integer>
            </dict>
            <key>Stand2_01.png</key>
            <dict>
                <key>height</key>
                <integer>129</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>129</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>Stand2_02.png</key>
            <dict>
                <key>height</key>
                <integer>127</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>129</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>98</integer>
                <key>y</key>
                <integer>256</integer>
            </dict>
            <key>Stand2_03.png</key>
            <dict>
                <key>height</key>
                <integer>123</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>129</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>133</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>char.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1522a50f557c1615320b0ab1e3bd04aa:ae2adfe3b7fef6ae01c9ae94aa28c1ce:5b1cd77608a26c0b98d099d5288208e5$</string>
            <key>textureFileName</key>
            <string>char.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>256</integer>
        </dict>
    </dict>
</plist>
